@{
    ViewData["Title"] = "Home Page";
}

For example, <code>&lt;section&gt;</code> should be wrapped as inline.

<pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>

<var>y</var> = <var>m</var><var>x</var> + <var>b</var>

<pre></pre>

To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>

<pre></pre>

<samp>This text is meant to be treated as sample output from a computer program.</samp>

<pre/>

<img src="favicon.ico" class="img-rounded  pull-xs-left"/>
<img src="favicon.ico" class="img-circle  pull-xs-right"/>
<img src="favicon.ico" class="img-thumbnail" />

<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Имя1</th>
        <th>Фамилия</th>
        <th>Ник</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-success">
        <th scope="row">1</th>
        <td>Марк</td>
        <td>Отто</td>
        <td>&#64;mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td class="table-info">Джейкоб</td>
        <td>Тортон</td>
        <td>&#64;at</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Ларри</td>
        <td>the Bird</td>
        <td>&#64;twitter</td>
    </tr>
    </tbody>
</table>

